
<div class="sve">
    <h1>ČIME SE BAVIMO?</h1>
    <!-- web programiranje -->
        <div class="container">
            <div class="row my-custom-row justify-content-center aling-item-center">
                <div class="col-lg-6 col-md-6 col-sm-12 fotka"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 tekst"><a>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, deserunt cum quidem 
                            harum temporibus ducimus. Iste, odit quisq uam. Molestiae quod iusto soluta ab, sunt repudiandae. Eos laborum ducimus obcaecati quod?
                            </a>
                </div>
            </div>
        </div>
        <hr>
        <!-- gaficki dizajn -->
       <div class="container">
        <div class="row my-custom-row justify-content-center aling-item-center">
            <div class="col-lg-6 col-md-6 col-sm-12 order-sm-2 fotka2"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 tekst order-sm-1"><a>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia pariatur nesciunt nulla non labore, doloribu
                s quis distinctio repellat illum blanditiis minus. Enim adipisci laborum, sint cupiditate at eaque dolor exercitationem.
            </a></div>

       </div>
       <hr>
       <!-- consaulting -->
       <div class="container">
        <div class="row my-custom-row justify-content-center aling-item-center">
            <div class="col-lg-6 col-md-6 col-sm-12 fotka3"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 tekst"><a>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia pariatur nesciunt nulla non labore, doloribu
                s quis distinctio repellat illum blanditiis minus. Enim adipisci laborum, sint cupiditate at eaque dolor exercitationem.
            </a></div>
       </div>
       <hr>
       <!-- odrzavanje -->
       <div class="container">
        <div class="row my-custom-row justify-content-center aling-item-center">
            <div class="col-lg-6 col-md-6 col-sm-12 order-sm-2 fotka4"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 tekst order-sm-1"><a>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia pariatur nesciunt nulla non labore, doloribu
                s quis distinctio repellat illum blanditiis minus. Enim adipisci laborum, sint cupiditate at eaque dolor exercitationem.
            </a></div>

       </div>
</div>